In [1]:
import pandas as pd
df = pd.read_csv('imports-85.data', header=None)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
0     205 non-null int64
1     205 non-null object
2     205 non-null object
3     205 non-null object
4     205 non-null object
5     205 non-null object
6     205 non-null object
7     205 non-null object
8     205 non-null object
9     205 non-null float64
10    205 non-null float64
11    205 non-null float64
12    205 non-null float64
13    205 non-null int64
14    205 non-null object
15    205 non-null object
16    205 non-null int64
17    205 non-null object
18    205 non-null object
19    205 non-null object
20    205 non-null float64
21    205 non-null object
22    205 non-null object
23    205 non-null int64
24    205 non-null int64
25    205 non-null object
dtypes: float64(5), int64(5), object(16)
memory usage: 41.7+ KB

In [5]:
#Exercise 1
#Handling incorrect type assignment
import numpy as np
for i in range(len(df.columns)):
    if (i!=5) and (df[i].dtypes=='object') and (df[df[i]=='?'].shape[0]>0):
    #not including att-5 (num-of-doors)
        print('\nAttribute-',i,':',df[df[i]=='?'].shape[0])
        df[i] = df[i].replace('?', np.NaN)
        df[i] = df[i].astype('float64')
df.dtypes

Attribute- 1 : 41

Attribute- 18 : 4

Attribute- 19 : 4

Attribute- 21 : 2

Attribute- 22 : 2

Attribute- 25 : 4

0       int64
1     float64
2      object
3      object
4      object
5      object
6      object
7      object
8      object
9     float64
10    float64
11    float64
12    float64
13      int64
14     object
15     object
16      int64
17     object
18    float64
19    float64
20    float64
21    float64
22    float64
23      int64
24      int64
25    float64
dtype: object

In [11]:
#Exercise 2
#Drop missing values
df_drop = df.dropna(axis='columns') #Drop the columns where at least 1 element is missing.
df_drop.shape

(205, 20)

In [12]:
df_drop = df.dropna(how='all') #Drop the rows where all elements are missing.
df_drop.shape

(205, 26)

In [13]:
df_drop = df.dropna(thresh=24) # Keep only the rows with at least 24 non-NA values.
df_drop.shape

(203, 26)

In [18]:
#Exercise 3
#Replace missing values
for i in range(len(df.columns)):
    if (df[df[i].isnull()].shape[0]>0):
        print('\nAttribute-',i,' (before) :',df[df[i].isnull()].shape[0])
        if (df[i].dtypes in ['int64','float64']):
            df[i].fillna(df[df[i].notnull()][i].mean(), inplace=True)
        else:
            df[i].fillna(df[df[i].notnull()][i].mode(), inplace=True)
        print('\nAttribute-',i,' (after) :',df[df[i].isnull()].shape[0])
df.describe()

,0,1,9,10,11,12,13,16,18,19,20,21,22,23,24,25
count,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000
mean,0.834146,122.000000,98.756585,174.049268,65.907805,53.724878,2555.565854,126.907317,3.329751,3.255423,10.142537,104.256158,5125.369458,25.219512,30.751220,13207.129353
std,1.245307,31.681008,6.021776,12.337289,2.145204,2.443522,520.680204,41.642693,0.270844,0.313597,3.972040,39.519211,476.979093,6.542142,6.886443,7868.768212
min,-2.000000,65.000000,86.600000,141.100000,60.300000,47.800000,1488.000000,61.000000,2.540000,2.070000,7.000000,48.000000,4150.000000,13.000000,16.000000,5118.000000
25%,0.000000,101.000000,94.500000,166.300000,64.100000,52.000000,2145.000000,97.000000,3.150000,3.110000,8.600000,70.000000,4800.000000,19.000000,25.000000,7788.000000
50%,1.000000,122.000000,97.000000,173.200000,65.500000,54.100000,2414.000000,120.000000,3.310000,3.290000,9.000000,95.000000,5200.000000,24.000000,30.000000,10595.000000
75%,2.000000,137.000000,102.400000,183.100000,66.900000,55.500000,2935.000000,141.000000,3.580000,3.410000,9.400000,116.000000,5500.000000,30.000000,34.000000,16500.000000
max,3.000000,256.000000,120.900000,208.100000,72.300000,59.800000,4066.000000,326.000000,3.940000,4.170000,23.000000,288.000000,6600.000000,49.000000,54.000000,45400.000000

In [27]:
#Exercise 4
#Add new features
df['fueleconomy'] = 0.55*df[23]+0.45*df[24]
df['fueleconomy']
df
#new attribute describes the combination of values between city and highway mpg

,0,1,2,3,4,5,6,7,8,9,...,17,18,19,20,21,22,23,24,25,fueleconomy
0,3,122.0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,mpfi,3.47,2.68,9.00,111.0,5000.0,21,27,13495.000000,23.70
1,3,122.0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,mpfi,3.47,2.68,9.00,111.0,5000.0,21,27,16500.000000,23.70
2,1,122.0,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,mpfi,2.68,3.47,9.00,154.0,5000.0,19,26,16500.000000,22.15
3,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,...,mpfi,3.19,3.40,10.00,102.0,5500.0,24,30,13950.000000,26.70
4,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,...,mpfi,3.19,3.40,8.00,115.0,5500.0,18,22,17450.000000,19.80
5,2,122.0,audi,gas,std,two,sedan,fwd,front,99.8,...,mpfi,3.19,3.40,8.50,110.0,5500.0,19,25,15250.000000,21.70
6,1,158.0,audi,gas,std,four,sedan,fwd,front,105.8,...,mpfi,3.19,3.40,8.50,110.0,5500.0,19,25,17710.000000,21.70
7,1,122.0,audi,gas,std,four,wagon,fwd,front,105.8,...,mpfi,3.19,3.40,8.50,110.0,5500.0,19,25,18920.000000,21.70
8,1,158.0,audi,gas,turbo,four,sedan,fwd,front,105.8,...,mpfi,3.13,3.40,8.30,140.0,5500.0,17,20,23875.000000,18.35
9,0,122.0,audi,gas,turbo,two,hatchback,4wd,front,99.5,...,mpfi,3.13,3.40,7.00,160.0,5500.0,16,22,13207.129353,18.70
10,2,192.0,bmw,gas,std,two,sedan,rwd,front,101.2,...,mpfi,3.50,2.80,8.80,101.0,5800.0,23,29,16430.000000,25.70
11,0,192.0,bmw,gas,std,four,sedan,rwd,front,101.2,...,mpfi,3.50,2.80,8.80,101.0,5800.0,23,29,16925.000000,25.70
12,0,188.0,bmw,gas,std,two,sedan,rwd,front,101.2,...,mpfi,3.31,3.19,9.00,121.0,4250.0,21,28,20970.000000,24.15
13,0,188.0,bmw,gas,std,four,sedan,rwd,front,101.2,...,mpfi,3.31,3.19,9.00,121.0,4250.0,21,28,21105.000000,24.15
14,1,122.0,bmw,gas,std,four,sedan,rwd,front,103.5,...,mpfi,3.31,3.19,9.00,121.0,4250.0,20,25,24565.000000,22.25
15,0,122.0,bmw,gas,std,four,sedan,rwd,front,103.5,...,mpfi,3.62,3.39,8.00,182.0,5400.0,16,22,30760.000000,18.70
16,0,122.0,bmw,gas,std,two,sedan,rwd,front,103.5,...,mpfi,3.62,3.39,8.00,182.0,5400.0,16,22,41315.000000,18.70
17,0,122.0,bmw,gas,std,four,sedan,rwd,front,110.0,...,mpfi,3.62,3.39,8.00,182.0,5400.0,15,20,36880.000000,17.25
18,2,121.0,chevrolet,gas,std,two,hatchback,fwd,front,88.4,...,2bbl,2.91,3.03,9.50,48.0,5100.0,47,53,5151.000000,49.70
19,1,98.0,chevrolet,gas,std,two,hatchback,fwd,front,94.5,...,2bbl,3.03,3.11,9.60,70.0,5400.0,38,43,6295.000000,40.25
20,0,81.0,chevrolet,gas,std,four,sedan,fwd,front,94.5,...,2bbl,3.03,3.11,9.60,70.0,5400.0,38,43,6575.000000,40.25
21,1,118.0,dodge,gas,std,two,hatchback,fwd,front,93.7,...,2bbl,2.97,3.23,9.41,68.0,5500.0,37,41,5572.000000,38.80
22,1,118.0,dodge,gas,std,two,hatchback,fwd,front,93.7,...,2bbl,2.97,3.23,9.40,68.0,5500.0,31,38,6377.000000,34.15
23,1,118.0,dodge,gas,turbo,two,hatchback,fwd,front,93.7,...,mpfi,3.03,3.39,7.60,102.0,5500.0,24,30,7957.000000,26.70
24,1,148.0,dodge,gas,std,four,hatchback,fwd,front,93.7,...,2bbl,2.97,3.23,9.40,68.0,5500.0,31,38,6229.000000,34.15
25,1,148.0,dodge,gas,std,four,sedan,fwd,front,93.7,...,2bbl,2.97,3.23,9.40,68.0,5500.0,31,38,6692.000000,34.15
26,1,148.0,dodge,gas,std,four,sedan,fwd,front,93.7,...,2bbl,2.97,3.23,9.40,68.0,5500.0,31,38,7609.000000,34.15
27,1,148.0,dodge,gas,turbo,?,sedan,fwd,front,93.7,...,mpfi,3.03,3.39,7.60,102.0,5500.0,24,30,8558.000000,26.70
28,-1,110.0,dodge,gas,std,four,wagon,fwd,front,103.3,...,2bbl,3.34,3.46,8.50,88.0,5000.0,24,30,8921.000000,26.70
29,3,145.0,dodge,gas,turbo,two,hatchback,fwd,front,95.9,...,mfi,3.60,3.90,7.00,145.0,5000.0,19,24,12964.000000,21.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175,-1,65.0,toyota,gas,std,four,hatchback,fwd,front,102.4,...,mpfi,3.31,3.54,8.70,92.0,4200.0,27,32,9988.000000,29.25
176,-1,65.0,toyota,gas,std,four,sedan,fwd,front,102.4,...,mpfi,3.31,3.54,8.70,92.0,4200.0,27,32,10898.000000,29.25
177,-1,65.0,toyota,gas,std,four,hatchback,fwd,front,102.4,...,mpfi,3.31,3.54,8.70,92.0,4200.0,27,32,11248.000000,29.25
178,3,197.0,toyota,gas,std,two,hatchback,rwd,front,102.9,...,mpfi,3.27,3.35,9.30,161.0,5200.0,20,24,16558.000000,21.80
179,3,197.0,toyota,gas,std,two,hatchback,rwd,front,102.9,...,mpfi,3.27,3.35,9.30,161.0,5200.0,19,24,15998.000000,21.25
180,-1,90.0,toyota,gas,std,four,sedan,rwd,front,104.5,...,mpfi,3.27,3.35,9.20,156.0,5200.0,20,24,15690.000000,21.80
181,-1,122.0,toyota,gas,std,four,wagon,rwd,front,104.5,...,mpfi,3.27,3.35,9.20,156.0,5200.0,19,24,15750.000000,21.25
182,2,122.0,volkswagen,diesel,std,two,sedan,fwd,front,97.3,...,idi,3.01,3.40,23.00,52.0,4800.0,37,46,7775.000000,41.05
183,2,122.0,volkswagen,gas,std,two,sedan,fwd,front,97.3,...,mpfi,3.19,3.40,9.00,85.0,5250.0,27,34,7975.000000,30.15
184,2,94.0,volkswagen,diesel,std,four,sedan,fwd,front,97.3,...,idi,3.01,3.40,23.00,52.0,4800.0,37,46,7995.000000,41.05
185,2,94.0,volkswagen,gas,std,four,sedan,fwd,front,97.3,...,mpfi,3.19,3.40,9.00,85.0,5250.0,27,34,8195.000000,30.15
186,2,94.0,volkswagen,gas,std,four,sedan,fwd,front,97.3,...,mpfi,3.19,3.40,9.00,85.0,5250.0,27,34,8495.000000,30.15
187,2,94.0,volkswagen,diesel,turbo,four,sedan,fwd,front,97.3,...,idi,3.01,3.40,23.00,68.0,4500.0,37,42,9495.000000,39.25
188,2,94.0,volkswagen,gas,std,four,sedan,fwd,front,97.3,...,mpfi,3.19,3.40,10.00,100.0,5500.0,26,32,9995.000000,28.70
189,3,122.0,volkswagen,gas,std,two,convertible,fwd,front,94.5,...,mpfi,3.19,3.40,8.50,90.0,5500.0,24,29,11595.000000,26.25
190,3,256.0,volkswagen,gas,std,two,hatchback,fwd,front,94.5,...,mpfi,3.19,3.40,8.50,90.0,5500.0,24,29,9980.000000,26.25
191,0,122.0,volkswagen,gas,std,four,sedan,fwd,front,100.4,...,mpfi,3.19,3.40,8.50,110.0,5500.0,19,24,13295.000000,21.25
192,0,122.0,volkswagen,diesel,turbo,four,sedan,fwd,front,100.4,...,idi,3.01,3.40,23.00,68.0,4500.0,33,38,13845.000000,35.25
193,0,122.0,volkswagen,gas,std,four,wagon,fwd,front,100.4,...,mpfi,3.19,3.40,9.00,88.0,5500.0,25,31,12290.000000,27.70
194,-2,103.0,volvo,gas,std,four,sedan,rwd,front,104.3,...,mpfi,3.78,3.15,9.50,114.0,5400.0,23,28,12940.000000,25.25
195,-1,74.0,volvo,gas,std,four,wagon,rwd,front,104.3,...,mpfi,3.78,3.15,9.50,114.0,5400.0,23,28,13415.000000,25.25
196,-2,103.0,volvo,gas,std,four,sedan,rwd,front,104.3,...,mpfi,3.78,3.15,9.50,114.0,5400.0,24,28,15985.000000,25.80
197,-1,74.0,volvo,gas,std,four,wagon,rwd,front,104.3,...,mpfi,3.78,3.15,9.50,114.0,5400.0,24,28,16515.000000,25.80
198,-2,103.0,volvo,gas,turbo,four,sedan,rwd,front,104.3,...,mpfi,3.62,3.15,7.50,162.0,5100.0,17,22,18420.000000,19.25
199,-1,74.0,volvo,gas,turbo,four,wagon,rwd,front,104.3,...,mpfi,3.62,3.15,7.50,162.0,5100.0,17,22,18950.000000,19.25
200,-1,95.0,volvo,gas,std,four,sedan,rwd,front,109.1,...,mpfi,3.78,3.15,9.50,114.0,5400.0,23,28,16845.000000,25.25
201,-1,95.0,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,mpfi,3.78,3.15,8.70,160.0,5300.0,19,25,19045.000000,21.70
202,-1,95.0,volvo,gas,std,four,sedan,rwd,front,109.1,...,mpfi,3.58,2.87,8.80,134.0,5500.0,18,23,21485.000000,20.25
203,-1,95.0,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,idi,3.01,3.40,23.00,106.0,4800.0,26,27,22470.000000,26.45
204,-1,95.0,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,mpfi,3.78,3.15,9.50,114.0,5400.0,19,25,22625.000000,21.70

In [25]:
#MinMaxScaler
from sklearn.preprocessing import MinMaxScaler
min_max_scaler = MinMaxScaler()
newdf = df.select_dtypes(include=['float64'])
newdf_scaled = min_max_scaler.fit_transform(newdf)
newdf =pd.DataFrame(newdf_scaled)
newdf.head()

,0,1,2,3,4,5,6,7,8,9,10,11
0,0.298429,0.058309,0.413433,0.316667,0.083333,0.664286,0.290476,0.1250,0.262500,0.346939,0.207959,0.244170
1,0.298429,0.058309,0.413433,0.316667,0.083333,0.664286,0.290476,0.1250,0.262500,0.346939,0.282558,0.244170
2,0.298429,0.230321,0.449254,0.433333,0.383333,0.100000,0.666667,0.1250,0.441667,0.346939,0.282558,0.201646
3,0.518325,0.384840,0.529851,0.491667,0.541667,0.464286,0.633333,0.1875,0.225000,0.551020,0.219254,0.326475
4,0.518325,0.373178,0.529851,0.508333,0.541667,0.464286,0.633333,0.0625,0.279167,0.551020,0.306142,0.137174

In [26]:
#StandardScaler
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
df_std = df.select_dtypes(include=['float64'])
df_std = df_std.dropna()
df_std=sc.fit_transform(df_std)
df_std = pd.DataFrame(df_std)
df_std.head()

,0,1,2,3,4,5,6,7,8,9,10,11
0,0.000000,-1.690772,-0.426521,-0.844782,-2.020417,0.519089,-1.839404,-0.288349,0.171065,-0.263484,0.036674,-0.604374
1,0.000000,-1.690772,-0.426521,-0.844782,-2.020417,0.519089,-1.839404,-0.288349,0.171065,-0.263484,0.419498,-0.604374
2,0.000000,-0.708596,-0.231513,-0.190566,-0.543527,-2.404862,0.685920,-0.288349,1.261807,-0.263484,0.419498,-0.838056
3,1.328961,0.173698,0.207256,0.136542,0.235942,-0.517248,0.462157,-0.035973,-0.057230,0.787346,0.094639,-0.152086
4,1.328961,0.107110,0.207256,0.230001,0.235942,-0.517248,0.462157,-0.540725,0.272529,0.787346,0.540524,-1.192348

In [29]:
#Direct Encoding
df[5]=df[5].replace({'two': 2, 'four': 4})
df[5]

0      2
1      2
2      2
3      4
4      4
5      2
6      4
7      4
8      4
9      2
10     2
11     4
12     2
13     4
14     4
15     4
16     2
17     4
18     2
19     2
20     4
21     2
22     2
23     2
24     4
25     4
26     4
27     ?
28     4
29     2
      ..
175    4
176    4
177    4
178    2
179    2
180    4
181    4
182    2
183    2
184    4
185    4
186    4
187    4
188    4
189    2
190    2
191    4
192    4
193    4
194    4
195    4
196    4
197    4
198    4
199    4
200    4
201    4
202    4
203    4
204    4
Name: 5, Length: 205, dtype: object

In [36]:
#Label Encoding
df = pd.read_csv('imports-85.data', header=None)
for i in range(len(df.columns)):
    if (df[i].dtypes=='object'):
        df[i] = df[i].astype('category')
        df[i] = df[i].cat.codes
df.head()

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,3,51,0,1,0,2,0,2,0,88.6,...,130,5,23,4,9.0,5,10,21,27,31
1,3,51,0,1,0,2,0,2,0,88.6,...,130,5,23,4,9.0,5,10,21,27,50
2,1,51,0,1,0,2,2,2,0,94.5,...,152,5,1,27,9.0,20,10,19,26,50
3,2,27,1,1,0,1,3,1,0,99.8,...,109,5,13,24,10.0,2,16,24,30,36
4,2,27,1,1,0,1,3,0,0,99.4,...,136,5,13,24,8.0,8,16,18,22,61

In [32]:
#One-hot encoding
df_encode = pd.get_dummies(data=df, columns=[2])
df_encode.head()

,0,1,3,4,5,6,7,8,9,10,...,2_12,2_13,2_14,2_15,2_16,2_17,2_18,2_19,2_20,2_21
0,3,51,1,0,2,0,2,0,88.6,168.8,...,0,0,0,0,0,0,0,0,0,0
1,3,51,1,0,2,0,2,0,88.6,168.8,...,0,0,0,0,0,0,0,0,0,0
2,1,51,1,0,2,2,2,0,94.5,171.2,...,0,0,0,0,0,0,0,0,0,0
3,2,27,1,0,1,3,1,0,99.8,176.6,...,0,0,0,0,0,0,0,0,0,0
4,2,27,1,0,1,3,0,0,99.4,176.6,...,0,0,0,0,0,0,0,0,0,0

In [42]:
df = pd.read_csv('imports-85.data', header=None)
for i in range(len(df.columns)):
    if (i==2,3,4,6,7,8,14,17):
        df[i] = df[i].astype('category')
        df[i] = df[i].cat.codes
    elif (i==5):
        df[i]=df[i].replace({'two': 2, 'four': 4})
    elif (i==15):
        df[i]=df[i].replace({'two': 2, 'four': 4, 'eight':8, 'five':5, 'six':6, 'three':3, 'twelve':12})
df.head()

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,5,51,0,1,0,2,0,2,0,2,...,18,5,23,4,13,5,10,8,10,31
1,5,51,0,1,0,2,0,2,0,2,...,18,5,23,4,13,5,10,8,10,50
2,3,51,0,1,0,2,2,2,0,10,...,28,5,1,27,13,20,10,6,9,50
3,4,27,1,1,0,1,3,1,0,30,...,11,5,13,24,22,2,16,11,13,36
4,4,27,1,1,0,1,3,0,0,28,...,22,5,13,24,5,8,16,5,5,61

In [2]:
#Exercise 7
import pandas as pd
df = pd.read_csv('imports-85.data', header=None)
bins = [0,10000,20000,40000]
car_bin=['Budget','Medium','Highend']
df['carsrange'] = pd.cut(df[25],bins,right=False,labels=car_bin)
df.head(10)

TypeError: '<' not supported between instances of 'int' and 'str'